* text=auto
# to move existing files into LFS:
# git add --renormalize .
*.onnx filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
third_party/**/*.a filter=lfs diff=lfs merge=lfs -text
third_party/**/*.so filter=lfs diff=lfs merge=lfs -text
third_party/**/*.so.* filter=lfs diff=lfs merge=lfs -text
third_party/**/*.dylib filter=lfs diff=lfs merge=lfs -text
third_party/acados/*/t_renderer filter=lfs diff=lfs merge=lfs -text
docs/assets/icon-star-empty.svg filter=lfs diff=lfs merge=lfs -text
docs/assets/icon-star-full.svg filter=lfs diff=lfs merge=lfs -text
docs/assets/icon-star-half.svg filter=lfs diff=lfs merge=lfs -text
docs/assets/icon-youtube.svg filter=lfs diff=lfs merge=lfs -text
docs/assets/three-back.svg filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/body/awake.gif filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/body/sleep.gif filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/fonts/Inter-Black.ttf filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/fonts/Inter-Bold.ttf filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/fonts/Inter-ExtraBold.ttf filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/fonts/Inter-ExtraLight.ttf filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/fonts/Inter-Light.ttf filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/fonts/Inter-Medium.ttf filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/fonts/Inter-Regular.ttf filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/fonts/Inter-SemiBold.ttf filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/fonts/Inter-Thin.ttf filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/fonts/JetBrainsMono-Medium.ttf filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/arrow-right.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/backspace.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/calibration.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/capslock-fill.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/checkmark.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/checkmark.svg filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/chevron_right.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/chffr_wheel.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/circled_check.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/circled_check.svg filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/circled_slash.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/circled_slash.svg filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/close.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/close.svg filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/close2.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/close2.svg filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/couch.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/couch.svg filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/disengage_on_accelerator.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/disengage_on_accelerator.svg filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/driver_face.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/experimental.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/experimental.svg filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/experimental_grey.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/experimental_grey.svg filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/experimental_white.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/experimental_white.svg filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/eye_closed.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/eye_closed.svg filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/eye_open.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/eye_open.svg filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/lock_closed.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/lock_closed.svg filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/menu.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/metric.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/minus.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/monitoring.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/network.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/road.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/settings.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/shell.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/shift-fill.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/shift.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/speed_limit.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/triangle.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/triangle.svg filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/warning.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/wifi_strength_full.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/wifi_strength_full.svg filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/wifi_strength_high.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/wifi_strength_high.svg filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/wifi_strength_low.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/wifi_strength_low.svg filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/wifi_strength_medium.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/wifi_strength_medium.svg filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/wifi_uploading.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/icons/wifi_uploading.svg filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/images/button_continue_triangle.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/images/button_continue_triangle.svg filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/images/button_flag.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/images/button_home.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/images/button_settings.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/images/spinner_comma.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/images/spinner_track.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/sounds/disengage.wav filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/sounds/engage.wav filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/sounds/prompt.wav filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/sounds/prompt_distracted.wav filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/sounds/refuse.wav filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/sounds/warning_immediate.wav filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/sounds/warning_soft.wav filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step0.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step1.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step10.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step11.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step12.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step13.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step14.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step15.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step16.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step17.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step18.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step2.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step3.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step4.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step5.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step6.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step7.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step8.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step9.png filter=lfs diff=lfs merge=lfs -text
selfdrive/car/tests/test_models_segs.txt filter=lfs diff=lfs merge=lfs -text
selfdrive/modeld/models/dmonitoring_model.onnx filter=lfs diff=lfs merge=lfs -text
selfdrive/modeld/models/driving_policy.onnx filter=lfs diff=lfs merge=lfs -text
selfdrive/modeld/models/driving_vision.onnx filter=lfs diff=lfs merge=lfs -text
selfdrive/ui/installer/inter-ascii.ttf filter=lfs diff=lfs merge=lfs -text
system/hardware/tici/updater filter=lfs diff=lfs merge=lfs -text
third_party/acados/Darwin/lib/libacados.dylib filter=lfs diff=lfs merge=lfs -text
third_party/acados/Darwin/lib/libblasfeo.dylib filter=lfs diff=lfs merge=lfs -text
third_party/acados/Darwin/lib/libhpipm.dylib filter=lfs diff=lfs merge=lfs -text
third_party/acados/Darwin/lib/libqpOASES_e.3.1.dylib filter=lfs diff=lfs merge=lfs -text
third_party/acados/Darwin/t_renderer filter=lfs diff=lfs merge=lfs -text
third_party/acados/larch64/lib/libacados.so filter=lfs diff=lfs merge=lfs -text
third_party/acados/larch64/lib/libblasfeo.so filter=lfs diff=lfs merge=lfs -text
third_party/acados/larch64/lib/libhpipm.so filter=lfs diff=lfs merge=lfs -text
third_party/acados/larch64/lib/libqpOASES_e.so.3.1 filter=lfs diff=lfs merge=lfs -text
third_party/acados/larch64/t_renderer filter=lfs diff=lfs merge=lfs -text
third_party/acados/x86_64/lib/libacados.so filter=lfs diff=lfs merge=lfs -text
third_party/acados/x86_64/lib/libblasfeo.so filter=lfs diff=lfs merge=lfs -text
third_party/acados/x86_64/lib/libhpipm.so filter=lfs diff=lfs merge=lfs -text
third_party/acados/x86_64/lib/libqpOASES_e.so.3.1 filter=lfs diff=lfs merge=lfs -text
third_party/acados/x86_64/t_renderer filter=lfs diff=lfs merge=lfs -text
third_party/bootstrap/bootstrap-icons.svg filter=lfs diff=lfs merge=lfs -text
third_party/catch2/include/catch2/catch.hpp filter=lfs diff=lfs merge=lfs -text
third_party/libyuv/Darwin/lib/libyuv.a filter=lfs diff=lfs merge=lfs -text
third_party/libyuv/larch64/lib/libyuv.a filter=lfs diff=lfs merge=lfs -text
third_party/libyuv/x86_64/lib/libyuv.a filter=lfs diff=lfs merge=lfs -text
third_party/qt5/larch64/bin/lrelease filter=lfs diff=lfs merge=lfs -text
third_party/qt5/larch64/bin/lupdate filter=lfs diff=lfs merge=lfs -text
third_party/raylib/Darwin/libraylib.a filter=lfs diff=lfs merge=lfs -text
third_party/raylib/larch64/libraylib.a filter=lfs diff=lfs merge=lfs -text
third_party/raylib/x86_64/libraylib.a filter=lfs diff=lfs merge=lfs -text
tools/bodyteleop/static/poster.png filter=lfs diff=lfs merge=lfs -text
tools/cabana/assets/cabana-icon.png filter=lfs diff=lfs merge=lfs -text
